
@import "vendor/uikit/src/scss/variables-theme";
@import "vendor/uikit/src/scss/uikit-theme";
@import "vendor/uikit/src/scss/mixins-theme";
@import "vendor/uikit/src/scss/components/icon";

$blue: rgb(0, 189, 189);
$orange: #EE4E44;
$soft_white: rgb(200, 200, 200);


.tags {
  .tag {
    background-color: $orange;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    white-space:nowrap;
  }
}

.filter-web figure {
  border: 1px solid rgb(217, 217, 217);
}

.portfolio .button-group {
  display: block;
  margin: auto;
}

.filter-button-group button {

  &:active {
    color: white;
  }
}

.card, .list-group-item {
  background-color: #fafafa;
}


@media (min-width: 699px) {
  .isotope-item, .isotope-sizer {
    width: 33%;
  }
  .og-grid li.card {
    width: 90%;
    margin: 10px 0;
    padding: 0;
  }
}

@media (max-width: 700px) {
  .isotope-item, .isotope-sizer {
    width: 100%;
  }
  .og-grid li.card {
    width: 100%;
    margin: 10px 0;
    padding: 0;
  }
}

.og-grid li.list-group-item {
  width: 100%;
}

.uk-panel {
  margin: 20px;
}

.uk-panel-box {
    padding: 30px 20px;
    background: #fafafa;
    color: #666;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

.uk-badge {
    display: inline-block;
    padding: 2px 5px;
    background: $orange;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    text-transform: none;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom-color: rgba(0,0,0,.3);
    background-origin: border-box;
    border-radius: 2px;
}

.uk-badge-danger {
    background-color: #d32c46;
    // background-image: -webkit-linear-gradient(top,#ee465a,#c11a39);
    // background-image: linear-gradient(to bottom,#ee465a,#c11a39);
}

.uk-panel-box .uk-panel-badge {
    top: 10px;
    right: 10px;
}

.uk-panel-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: #666;
}

.uk-panel-box .uk-panel-title {
    color: #666;
    margin: 10px auto;
}

.uk-button.active {
  background-color: #0f7ae5;
  color: #fff;
}

.review-picture {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
}

.img-overlay {
  height: 13rem;
  overflow: hidden;
}

@mixin background($image_path) {
  background-image: url($image_path);
  background-repeat: repeat;
  background-size: contain;
}

.blue-bg {
  @include background("/static/images/bg_pattern_blue.jpg");
}


.uk-button-primary {
  background-color: $blue;
  color: #333;
}

.uk-button-primary:hover {
  background-color: $blue;
  opacity: 0.8;
  color: #333;
}

.uk-navbar-right {
  margin-right: 35%;
}

.uk-navbar-nav > li > a, .uk-navbar-item {
  font-size: 1.3rem;
  padding: 0 2rem;
  color: #666;
}

a, a:hover {
  color: $blue;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
}

.homepage {
  .homepage-section {
    padding: 70px;
    background-color: rgba(255,255,255,0.9)
  }
  h1 {
    color: $soft_white;
  }

  h2 {
    margin: 0 0 60px 0;
  }

  .uk-card-default {
    background-color: transparent;
  }

  .uk-card h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .uk-overlay {
    color: $soft_white;

    ul.stars {
      margin: 8px auto;
    }
  }
}

.uk-container {
  max-width: 1400px;
}


/* Bath details page */
.bath-details {
  header {
    a.uk-button {
      font-size: 1.2rem;
      margin-top: 8px;
      color: white;
    }
    h1 {
      margin: 0 1rem;
    }
  }
  header, h1 {
    color: $soft_white;
  }

  .uk-heading-line {
    background-color: #fafafa;
    width: 25%;
    margin: auto;
    padding: 0.5rem;
  }
}

#google_logo {
  background-color: #666;
  padding: 5px;
}