{% load bath_tags %}

<ul class="uk-flex uk-list uk-flex-center uk-padding-remove stars">
  {% with rating=rating|floatformat:"0" %}
    {% for _ in 0|range:rating %}
      <li class="uk-margin-remove"><i class="fas fa-star"></i></li>
    {% endfor %}
  {% endwith %}
  {% with remaining_rating=rating|remaining_rating %}
    {% for _ in 0|range:remaining_rating %}
      <li class="uk-margin-remove"><i class="far fa-star"></i></li>
    {% endfor %}
  {% endwith %}
</ul>