{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spavisor</title>


    {% load sass_tags %}
    <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/uikit/dist/js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/uikit/dist/js/uikit-core.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/uikit/dist/js/uikit-icons.min.js' %}"></script>
  </head>

  <body class="{% block page_class %}{% endblock %}">

    <header>

        <div class="uk-offcanvas-content">
            <div class="uk-container">
                <nav class="uk-navbar-container uk-border-rounded" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky" uk-navbar>
                    <div class="uk-navbar-left">
                        <button uk-toggle="target: #mobile-navbar" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon></button>
                          <a class="uk-navbar-item uk-logo" href="{% url 'homepage' %}">Spavisor</a>
                    </div>
                    <div class="uk-navbar-right">
                        <div class="uk-visible@m">

                            <ul class="uk-navbar-nav">
                              <li><a class="uk-navbar-item" href="#">Découvrir</a></li>
                              <li><a class="uk-navbar-item">Trouver</a></li>
                              <li><a class="uk-navbar-item" href="https://forum.hammams.fr" target="_blank">Partager</a></li>
                                <li>
                                    <!-- <a href="#"> -->
                                        <!-- <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span> -->
                                        <!-- Trouver un hammam -->
                                    <!-- </a> -->
                                </li>

                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        <div id="mobile-navbar" uk-offcanvas>
            <div class="uk-offcanvas-bar">

                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <ul class="uk-navbar-nav">
                  <!-- <li><a class="uk-navbar-item " href="#">Découvrir le hammam</a></li> -->
                  <li><a class="uk-navbar-item " href="https://forum.hammams.fr" target="_blank">Forum</a></li>
                    <li>
                        <!-- <a href="#"> -->
                            <!-- <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span> -->
                            <!-- Trouver un hammam -->
                        <!-- </a> -->
                    </li>

                </ul>

            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="uk-background-muted uk-padding uk-light uk-text-center">
        <p><img src="{% static 'images/google_logo.png' %}" id="google_logo"></p>
        <p>Contactez-nous</p>
    </footer>

    {% if not DEBUG_MODE %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_TRACKING_CODE }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ GA_TRACKING_CODE }}')
    </script>
    {% endif %}
  </body>
</html>