{% extends 'website/base.html' %}

{% block page_class %}bath-details{% endblock %}

{% block content %}
  {% load bath_tags %}
  {% load static %}
  <header>
    {% with bath.pictures.all|first as picture %}
    <div class="uk-background-cover uk-height-medium uk-flex uk-flex-center uk-flex-middle" style="background: linear-gradient(rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.3)), url({{ picture.url }}) no-repeat scroll center; background-size: cover;">
    {% endwith %}
        <div class="uk-flex uk-flex-column">
          <h1 class="uk-text-center">{{ bath.name }}</h1>
          {% include 'components/_stars_rating.html' with rating=bath.rating %}
          <div class="uk-text-center"><a href="{{ bath.booking_url }}" target="_blank" class="uk-button uk-button-primary uk-border-rounded">Réserver</a></div>
        </div>

    </div>

  </header>

  <section class="uk-section blue-bg">
    <div class="uk-container">
      <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
        <!-- left -->
        <div>
          <div class="uk-panel uk-panel-box uk-panel-box-primary">
            {% if bath.description %}
              <p>{{ bath.description }}</p>
            {% endif %}

            <h3>Prestations</h3>
            <p>{{ bath.name }} n'a pas encore ajouté de prestation.</p>
          </div>

          <div class="uk-panel uk-panel-box uk-panel-box-primary">
          <h3>Contact</h3>
          <p><span uk-icon="icon: check; ratio: 2"></span>{{ address }}</p>
          {% if bath.phone %}<p><span uk-icon="receiver"></span>{{ bath.phone }}</p>{% endif %}
          </div>
        </div>

        <!-- right -->
        <div>
          <div id="map" class="uk-panel uk-panel-box uk-panel-box-primary" style="height: 400px;"></div>
          <div class="uk-panel uk-panel-box uk-panel-box-primary">
              <h3>Horaires</h3>
              {% if opening_hours %}
                {% for item in opening_hours %}
                   <p>{{ item.week_day|week_day_human_name }} : {{ item.opens_at }} - {{ item.closes_at }}</p>
                {% endfor %}
              {% else %}
                {{ bath.name }} n'a pas renseigné d'horaires.
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="uk-section blue-bg">
    <div class="uk-container">
      <h2 class="uk-heading-line uk-text-center uk-border-rounded">Commentaires</h2>
      <hr class="uk-divider-icon">
      {% if not reviews %}
        <p>Aucun avis n'est disponible pour le moment.</p>
      {% else %}
<!--         <div class="uk-button-group filter-button-group" data-toggle="buttons" style="display: block; text-align: center;">
          <button type="button" data-filter="*" class="uk-button active" data-toggle="button" aria-pressed="true">Tout</button>
          <% @providers.each do |provider|%>
              <button type="button" data-filter=".<%= provider %>" class="uk-button uk-button-default" data-toggle="button" aria-pressed="false" autocomplete="off"><%= provider %></button>
          <% end %>
        </div> -->

        <ul id="isotope" class="og-grid add-margin uk-list">
          <div class="isotope-sizer"></div>
        {% for review in reviews %}
        <div class="isotope-item {{ bath.provider }} review-{{ review.id }}">
            <li class="uk-panel uk-panel-box uk-panel-box-primary filter-web">
              {% if review.author_picture %}
              <span class="review-picture uk-margin-auto"><img src="{{ review.author_picture }}"></span>
              {% endif %}
              <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>

                <h3 class="uk-panel-title">{{ review.author_name }}</h5>
              </div>
                {% include 'components/_stars_rating.html' with rating=review.rating %}
              <p class="card-text">{{ review.text }}</p>

            </li>
        </div>
        {% endfor %}
        </ul>
      {% endif %}


  </section>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>

<!-- <script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script> -->
<!-- <script src='https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>  only if you need custom infoboxes -->

<!--Map-->
<script type="text/javascript" charset="utf-8">
  var latitude = {{ latitude }};
  var longitude = {{ longitude }};
  // see https://snazzymaps.com/style/61/blue-essence
  var styles = [
    {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#e0efef"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#1900ff"
            },
            {
                "color": "#c0e8e8"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 700
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#7dcdcd"
            }
        ]
    }
  ];
  function initMap() {
    // The location of Uluru
    var place = {lat: latitude, lng: longitude};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {
          zoom: 12,
          center: place,
          styles: styles
        });
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: place, map: map});
  }

</script>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<script type="text/javascript">


  var $filtered_grid = $('#isotope').isotope({
    // options
    itemSelector: '.isotope-item',
    // layoutMode: 'fitRows',
    percentPosition: true,
    masonry: {
      // use outer width of grid-sizer for columnWidth
      columnWidth: '.isotope-sizer'
    }
  });

  // filter items on button click
  $('.filter-button-group').on( 'click', 'button', function() {
    $('.filter-button-group .active').toggleClass('active');
    $(this).toggleClass('active');

    var filterValue = $(this).attr('data-filter');
    $filtered_grid.isotope({ filter: filterValue });
  });

</script>

{% endblock %}