{% extends 'website/base.html' %}

{% block page_class %}homepage{% endblock %}

{% block content %}
  {% load static %}
  <script type="text/javascript" src="{% static 'vendor/typed.js/lib/typed.js' %}"></script>
  <div class="uk-section uk-background-cover uk-height-large uk-flex uk-flex-center uk-flex-middle" style="background: linear-gradient(rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.3)), url({% static 'images/index_header_image.jpg' %}) no-repeat scroll center; background-size: cover;">
      <div class="uk-container">
        <h1>Trouvez le <span id="typedjs" content="spa"></span> qui vous correspond !</h1>

        <form class="uk-search uk-search-navbar">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search" placeholder="Hammam à Paris" autofocus>
        </form>
      </div>
  </div>

  <div class="uk-section blue-bg">
    <div class="uk-container">
      <div class="homepage-section uk-border-rounded">
        <h2 class="uk-text-center"><span>Les mieux notés</span></h2>
        <div class="uk-child-width-1-3@m" uk-grid>
          {% include 'website/list.html' with baths=rated_baths %}
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section blue-bg">
    <div class="uk-container">
      <div class="homepage-section uk-border-rounded">
        <h2 class="uk-text-center"><span>Meilleurs spas</span></h2>
        <div class="uk-child-width-1-3@m" uk-grid>
          {% include 'website/list.html' with baths=best_spas %}
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section blue-bg">
    <div class="uk-container">
      <div class="homepage-section uk-border-rounded">
        <h2 class="uk-text-center"><span>Meilleurs hammams</span></h2>
        <div class="uk-child-width-1-3@m" uk-grid>
          {% include 'website/list.html' with baths=best_hammams %}
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  var typed = new Typed('#typedjs', {
    strings: ["spa", "hammam", "sauna"],
    typeSpeed: 100,
    startDelay: 50,
    backDelay: 1000,
    loop: true
  });
</script>

{% endblock %}