{% for bath in baths %}
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              {% with bath.pictures.all|first as picture %}
              <a href="{% url 'bath_details' bath_id=bath.id %}">
                <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="{{ picture.url }}" uk-img>

                </div>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                                <h3 class="uk-card-title uk-text-center">
                                  <a href="{% url 'bath_details' bath_id=bath.id %}">{{ bath.name }}</a>
                                </h3>
                                {% if bath.description %}
                                  <p>{{ bath.description }}</p>
                                {% endif %}
                                {% include 'components/_stars_rating.html' with rating=bath.rating %}
                                <p class="uk-text-center uk-margin-remove">{{ bath.total_reviews }} avis</p>
                            </div>

              </a>

              {% endwith %}


          </div>
      </div>
  </div>
{% endfor %}